@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

:root{
    --fundoLight: rgb(255, 238, 238);
    --footerLight: rgb(78, 83, 90);
    --footerDark: rgb(117, 117, 117);
    --fundoDark: black;
}

html, body{
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

main{
    min-height: calc(100vh - 44px);
    background-color: var(--fundoLight);
}

h1{
    color: var(--footerLight);
}

button{
    padding: 15px 35px;
    font-size: 1.3em;
    border: none;
    border-radius: 30px;
    background-color: var(--footerLight);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    color: var(--fundoLight);
    background-color: var(--fundoDark);
}

footer{
    text-align: center;
    background-color: var(--footerLight);
    color: white;
    padding: 12px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main.dark-mode{
    background-color: var(--fundoDark);
}

h1.dark-mode{
    color: white;
}

button.dark-mode{
    color: var(--fundoDark);
    background-color: var(--footerDark);
}

button.dark-mode:hover{
    color: var(--fundoDark);
    background-color: var(--fundoLight);
}

footer.dark-mode{
    color: var(--fundoDark);
    background-color: var(--footerDark);
}